<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag current_user.gravatar_url(:size => 100) %>
        <%= current_user.name.capitalize %>
      <p></p>
        <%= current_user.email%>
      </h1> 
    </section>
  </aside> 
</div>
